
<div class='error-messages'>
  <% if @success_text then p @success_text end %>
</div>

<section>
  <!-- refactor -->
  <% unless Membership.where(user_id:current_user.id, club_id: params[:id]).first != nil %>
    <%= form_for([@club, @membership]) do |f| %>
    <%= f.submit %>
    <% end %>
  <% end %>
</section>

<section>
  <h2>Name:</h2>
  <p><%= @club.name %></p>

  <h2>Description:</h2>
  <p><%= @club.description %></p>
</section>

<section>
  <h3>Members</h3>
    <p>
      <% @members.each do |member| %>
      <p><%= member.screen_name %></p>
        <% if current_user.screen_name == member.screen_name %>
          <%= link_to 'Leave', club_membership_path(@club), method: :delete, data: { confirm: 'Are you sure you want to leave this club?' } %>
        <% end %>
      <% end %>
    </p>

  <h3>Reading Lists</h3>
    </p>
      <% @reading_lists.each do |list| %>
      <p><%= list.book.name %> - <a href='/books/<%=list.book.goodreads_id%>'>(<%= list.book.goodreads_id %>)</a></p>
      <% end %>
    </p>
</section>

<div class='footer'>
  <%= link_to 'Back', clubs_path %>
</div>
