<h2>Notes for <%= @current_book.name %></h2>
  <%= link_to 'Leave a new note!', new_book_note_path(@current_book), class: 'button' %>

<% if @all_notes %>

  <% @all_notes.each do |note| %>

    <p><%= note.page_number %></p>
    <p><%= note.user.screen_name %>: <%= note.body %></p>

  <% end %>
<% end %>
