<h2>Notes for <%= @current_book.name %></h2>
  <%= link_to 'Leave a new note!', new_book_note_path(@current_book), class: 'button' %>

<% if @all_notes %>

  <table>
    <tr>
      <th>page</th>
      <th>note</th>

  <% @all_notes.each do |note| %>
  <tr>
    <td><%= note.page_number %></td>
    <td><%= note.user.screen_name %>: <%= note.body %></td>
  </tr>
  <% end %>


</table>
<% end %>
