<h1>Discussions!</h1>
<%= link_to 'New Discussion', new_topic_path %>
<table>
  <tr>
    <th>Thread</th>
    <th>About</th>
  </tr>

  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= topic.text %></td>
      <td><%= link_to 'View', topic_path(topic) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Remove', topic_path(topic), method: :delete, data: { confirm: 'Are you certain you would like to delete this?' } %>
    </tr>
  <% end %>
</table>
