<h1 class='index-page'>Our Discussions!</h1>
<div class='index-page'>
  <%= link_to 'Start A New One', new_topic_path %>
</div>
<br>
<table>
  <tr>
    <th>Topic</th>
    <th>About</th>
  </tr>

  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= topic.text %></td>
      <td><%= link_to 'View', topic_path(topic) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Remove', topic_path(topic), method: :delete, data: { confirm: 'Are you certain you would like to delete this?' } %>
    </tr>
  <% end %>
</table>

<div class='footer-nav'>
<a href="/">Go to search page</a>
</div class='footer-nav'>
