<h2>Results:</h2>

<% if @multi_results %>
  <% @multi_results.results.work.each do |item| %>
    <p>
      <%= item.best_book.title %>,
      <%= item.best_book.id %>,
      <%= item.best_book.author.name %>
    </p>
  <% end %>
<% end %>

<% if @unique_result %>
  <%= @unique_result.results.work.best_book.title %>
  <%= @unique_result.results.work.best_book.author.name %>
  <%= @unique_result.results.work.best_book.id %>
<% end %>
