
<h1><%= @book_search_result.title %></h1>

<%= @book_search_result_author %>

<img src='<%= @book_search_result.image_url %>'>

<p><%= if @book_search_result.description then @book_search_result.description.html_safe end %></p>

<p>Goodreads ID:<%= @book_search_result.id %></p>
